.snake-content {
  text-align: center;

  .snake-div {
    position: relative;
    .header {
      padding-top: 5px;
      padding-bottom: 15px;
      font-family: courier;
      font-size: 30px;
      .score, .record {
        display: inline-block;
        width: 50%;
      }
      .score {
        text-align: left;
      }
      .record {
        text-align: right;
      }
    }
    .snake {
      display: inline-block;
      border: 1px solid #ddd;
    }
  }
}